# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/


'service_account.json'
'twilio.js'
'twilio.ts'
'twilioPhone.ts'
'twilioPhone.js'
twilio.ts
twilio.js
service_account.json
twilioPhone.ts
twilioPhone.js